body {
    background-image: url("./images/sky.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}


.App {
    font-family: Tahoma, Verdana, sans-serif;
    color: white;
}

.search {
    padding: 4% 15% 0 10%;
    height: 30%;
}

.searchbar {
    background-color: rgba(255, 255, 255, 0.37);
    padding: 3%;
}

.results {
    height: 50%;
}

.nav {
    background: rgba(255, 255, 255, 0.18);
}

.add-follow {
    padding: 3% 3%;
}
